{% extends "master.html" %}
{% load static %}

{% block body-class %}demo{% endblock %}

{% block content %}
<article class="content">

    <h1 class="page-title">Welkom bij Dowc!</h1>

    <p>
        Dowc voorziet in online documentbewerking.
    </p>

    <p>
        Dowc biedt hiervoor een API.
    </p>

    <ul>
        <li>
            <a href="{% url 'api-docs' %}">API documentation (ReDoc)</a>
        </li>
        <li>
            <a href="{% url 'admin:index' %}">Admin</a>
        </li>
    </ul>

</article>
{% endblock %}
