{% load static i18n hijack_tags %}<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}DO.W.C. - Documentbewerking{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,600|Material+Icons|Material+Icons+Outlined" rel="stylesheet">

        <link href="{% static 'css/screen.css' %}" media="screen" rel="stylesheet" />
        <link href="{% static 'hijack/hijack-styles.css' %}" rel="stylesheet" />
        <link href="{% static 'ico/favicon.png' %}" rel="shortcut icon">
    </head>

    <body class="{% block body-class %}{% endblock %}">
        {% hijack_notification %}

        <header>
            {% block header %}
                <div class="container">
                    <div class="logo">
                        <img class="logo__img" src="{% static 'img/wapen-utrecht-rood.svg' %}">
                    </div>
                </div>

            {% endblock %}
        </header>

        <main class="main">
            {% block content %}
                Override <code>{% verbatim %}{% block content %}{% endverbatim %}</code>
                to get some actual content.
            {% endblock %}
        </main>

        {% include "includes/footer.html" %}

        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>
